*{
	padding: 0;
	margin: 0;
	outline: 0;
	scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
.container{
	max-width: 80%;
	margin: auto;
}
/* menu css part start here  */
.logo{
	float: left;
    font-size: 70px;
    font-family: 'Poppins';
    font-size: 700;
}
.logo a{
	color: rgb(224, 216, 216);
    padding-left: 69px;
      
}
.menu-area{
    background-color: black;
 
}
.topnav{
	float: right;
    padding-right: 20%;
}
.menu ul{
	display: flex;
}



.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: rgb(163, 37, 37);
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

a{
	text-decoration: none;
}
ul,ol{
	list-style: none;
}

/* menu css part End here  */
.container{
	max-width: 80%;
	margin: auto;
}
/* Menu css part End here  */


/* Banner css part start here  */
.banner-area{
    /* margin-top: 200px; */
    padding-left: 9%;
}

.text-part{
    width:40%;
    float: left;
    margin-left: 5%;
    /* padding-left: 2%; */
}
h1 span{
    color: rgb(216, 131, 35); 
}
h1{
    font-size: 50px;
    font-weight: 700;
    color: #575757;
    margin: 20px 0;
}

section{
    /* display: flex; */
    height: 500px;
    padding-bottom: 150px;
}
.Banner_top{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
.banner_paragraph{
    margin-bottom: 40px;
}
.half-width{
    width:40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    padding-top: 10px;
    width: 80%;
}
.anchor_button{
    text-decoration: none;
    background: linear-gradient(45deg, rgb(149, 104, 77), rgb(248, 79, 1));
    padding: 20px 60px;
    border-radius: 50px;
    box-shadow: 0px 7px 25px rgb(238 172 87);
    color: white;
    font-weight: 700;
}
h1{
    font-size: 50px;
}
h1 span{
    color: rgb(230, 152, 26);
}
/* Banner css part End here  */

/* about me css part start here  */

.dream-area{
    background-image: url("images/backCover_photo-v2-.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}
h2{
    font-size: 40px;
}
.half-width h1{
    padding-top: 40px;
}

.about-me{
    padding-top: 40px;
    padding-right: 26%;
    margin-bottom: 120px;
}
/* about me css part End  here  */

/* Card css part start here  */
.card-area{
    display: flex;
    margin-top: 100px;
    
}
.card{
    margin: 0 20px;
    padding: 20px;
    background-color: aliceblue;
    border-radius: 30px;
    height: 590px;

}
.card img{
    width: 1011px;
    height:424px;
}

/* Card css part End here  */

/* social_media css start here */


#social_media{
    background-color: rgb(253 249 247);
    border-radius: 30px;
    color: white;
    box-shadow: 0px 7px 30px 6px #e7e7e7;
    display: flex;
    height: 260px;
    margin: 0 10%;

}
.follower_area{
    text-align: center;
    padding: 5% 10%;
}
.follower_area h1{
    color: black;
}
.media{
    color: black;
}

/* social_media css End here */




/* Footer part css start here */

.footer-area{
    background-color: black;
    /* margin-top: 100px; */
}

.footer-area h1{
    text-align: center;
}

footer p{
    text-align: center;
    color: blanchedalmond;
  padding-bottom: 30px;
}

/* Footer part css End here */


































